
:root {
    --clr-primary: #06172B;
    --clr-secondary: #0A2647;
    --clr-tertiary: #F4FFFF;

    --primary-font-family: 'Manrope', sans-serif;
    --secondary-font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

header {
    padding: 4rem 19rem 0 13rem;
    color: var(--clr-tertiary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--clr-tertiary);
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

header a:hover {
    transform: scale(1.05);
}

header h1 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font-family);
}

p {
    font-family: var(--secondary-font-family);
}

footer {
    background-color: var(--clr-tertiary);
    color: var(--clr-secondary);
    text-align: center;
    height: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
}

#title {
    background-color:hsla(212,75%,9%,1);
    background-image:
        radial-gradient(at 0% 100%, hsla(316,93%,58%,1) 0px, transparent 50%),
        radial-gradient(at 40% 75%, hsla(137,84%,32%,1) 0px, transparent 50%),
        radial-gradient(at 9% 40%, hsla(41,95%,58%,1) 0px, transparent 50%);
    color: var(--clr-tertiary);
}

#title h1 {
    font-size: 3em;
}

#title-button {
    font-family: var(--secondary-font-family);
    margin-top: 6.25rem;
    transition: all 0.2s ease-in-out;
}

#title-button:hover {
    transform: scale(1.05);
}

#title-content {
    padding-inline: 12.5rem 18.75rem;
    margin: 9.375rem 0 9.375rem 0;
}

#product-img {
    position: absolute;
    top: 5%;
    left: -2%;
    width: 37%;
    transform: rotate(38deg);
}

#features {
    background-color: var(--clr-tertiary);
    color: var(--clr-secondary);
    position: relative;
    z-index: 1;
    padding: 7% 10%;
}

#testimonials {
    background-color: var(--clr-secondary);
    padding: 7% 10%;
}

#testimonial-carousel-item {
    color: var(--clr-tertiary);
    margin: 7% 15%;
    text-align: center;
}

#testimonial-carousel-item img {
    height: 6.25rem;
    margin: 1.875rem 2.183rem 1.25rem 1.25rem;
    background-color: var(--clr-tertiary);
    border-radius: 50%;
}

#testimonial-carousel-item em {
    font-size: 1.25rem;
}

#packages {
    background-color: var(--clr-tertiary);
    color: var(--clr-secondary);
    padding: 7% 10%;
}

#package-button {
    color: var(--clr-secondary);
    font-family: var(--secondary-font-family);
    transition: all 0.2s ease-in-out;
}

#package-button:hover {
    transform: scale(1.05);
}

#call-to-action {
    background-color: var(--clr-secondary);
    color: var(--clr-tertiary);
    text-align: center;
    line-height: 5rem;
    padding: 7% 15%;
}

#call-to-action-button {
    transition: all 0.2s ease-in-out;
}

#call-to-action-button:hover {
    transform: scale(1.05);
}

.align-end {
    text-align: end;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-partial {
    text-align: center;
    padding: 1.25rem;
}

.feature-icon {
    margin-bottom: 3.125rem;
    transform: scale(1.5);
}

@media only screen and (max-width: 2560px){
    header {
        padding: 4em 20em 0;
    }
    
    #product-img {
        top: 5%;
        left: -2%;
        width: 37%;
        transform: rotate(38deg);
    }
    
    #title-content {
        padding-inline: 12.5em 0;
    }
}

@media only screen and (max-width: 1920px){
    header {
        padding: 4em 7em 0;
    }

    #product-img {
        top: 13%;
        left: -2%;
        width: 45%;
        transform: rotate(27deg);
    }

    #title-content {
        padding-inline: 12.5em 7em;
    }
}

@media only screen and (max-width: 1440px){
    header {
        padding: 4em 7em 0;
    }
    
    #product-img {
        top: 18%;
        left: -16%;
        width: 57%;
    }
    
    #title-content {
        padding-inline: 12.5em 7em;
    }
}

@media only screen and (max-width: 1280px) {
    #product-img {
        top: 22%;
        left: -11%;
        width: 56%;
        transform: rotate(35deg);
    }
}

@media only screen and (max-width: 1024px) {
    
    #product-img {
        top: 29%;
        left: -19%;
        width: 66%;
        transform: rotate(26deg);
    }
    
    #title-content {
        padding-inline: 18.5em 7em;
    }
}

@media only screen and (max-width: 768px) {
    
    header {
        padding: 3em 5em 0;
    }
    
    #title-content {
        padding-inline: 18.5em 5em;
    }
    
    #product-img {
        top: 35%;
        left: -27%;
        width: 85%;
        transform: rotate(16deg);
    }
}

@media only screen and (max-width: 430px) {
    header {
        padding: 2em 1em 0;
    }

    #title h1 {
        font-size: 2rem;
    }

    #title-content {
        margin-block: 5rem 5rem;
        padding-inline: 6.5em 2em;
    }

    #product-img {
        top: 28%;
        left: -32%;
        width: 98%;
        transform: rotate(17deg);
    }
}

@media only screen and (max-width: 425px) {
    #product-img {
        top: 30%;
    }
}